*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: none;
    transition :2s linear;
  }
  
  html{
    font-size: 20%;
    scroll-behavior: smooth;
    scroll-padding: 47rem;
  } 
   
  header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #e4c37c;
    padding:0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  }  
  
  header #toggler{
      display: none;
  }
  
  header .fa-bars{
      font-size: 3rem;
      color:#352c0e;
      border-radius: .5rem;
    padding:.5rem 1rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}

.btn2{
    display: inline-block;
    margin-top: 3rem;
    border-radius: 5rem;
    background:#a12c2c;
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 5rem;
}

.btn2:hover{
    background: #552b09;
}
             
.logo{
  width: 140px;
  cursor: pointer;
} 
.navbar a{
    font-size: 1.7rem;
    padding:0 1.5rem;
    color: #070a69;
  }
  
  .navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 12px;
  }
  
  .navbar ul li a{
    font-family: 'Inconsolata',monospace;
    color: #0a0d46;
    text-decoration: none;
    text-spacing: 2px;
    font-size: 18px;
    font-weight: 600;
  
  }
  
  .navbar ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #990909;
    display: block;
    margin: auto;
    transition: 0.4s;
  }
  
  .navbar ul li:hover::after{
    width: 100%;
}

.dropdown{
  display: none;
}
  
.navbar ul li:hover .dropdown{
  display: block;
  position: absolute;
  background-color: #dd822d; 
}

.navbar ul li:hover .dropdown ul{
  position: absolute;
  display: block;
  background-color: #b1782e;
  border-radius: 5px;
}
 
.navbar ul li:hover .dropdown ul li{
  width: 230px;
  height: 50px;
  padding: 8px;
  margin-left: 5px;
}
.navbar .fa{
    color: #0d13a8;
    border-radius: 3px;
    padding: 3px;
  }
  
  header .icons i{
      cursor: pointer;
      margin-left: 1rem;
      height:4.5rem;
      line-height: 4.5rem;
      width:4.5rem;
      text-align: center;
      font-size: 7rem;
      color: #000;
      border-radius: 50%;
  }
  
  header .icons i:hover{
      color: #f50707;
  }
  
  header .icons #{
      display: none;
  }
  
  #search-form{
      position: fixed;
      top:-110%; left:0; 
      height:100%; width:100%;
      z-index: 1004;
      background:rgba(85, 7, 7, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      padding:0 1rem;
  }
  
  #search-form.active{
      top:0;
  }
  
  #search-form #search-box{
      width:90rem;
      border-bottom: .1rem solid #fff;
      padding:1rem 0;
      color:#bea1a1;
      font-size: 7rem;
      text-transform: none;
      background:none;
  }
  
  #search-form #search-box::placeholder{
      color:#eee;
  }
  
  #search-form #search-box::-webkit-search-cancel-button{
      -webkit-appearance: none;
  }
  
  #search-form label{
      color:#fff;
      cursor:pointer;
      font-size: 7rem;
  }
  #search-form label:hover{
    color: #ffe8a9;
}

#search-form #close{
    position: absolute;
    color:#fff;
    cursor: pointer;
    top: 2rem; right:3rem;
    font-size: 7rem;
}

.login{
  background-image: url(pic.jpg);
  width: 100%;
  height: 100%;
  background-size:cover;
  background-position: center;
}

.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0.5rem;
}

.col-1{
  flex-basis: 20%;
  min-width: 500px;
  padding: 50px;
}
.form-box{
    width: 400px;
    height: 500px;
    position: relative;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
  }
  
  .main-heading{
    color: rgb(168, 80, 48);
    padding-bottom: 20px;
  }
  
  .form{
    position: relative;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
  }
  .form input{
    font-family: sans-serif;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 14px;
  }
  
  .form button{
    font-family: sans-serif;
    width: 100%;
    color: white;
    font-size: 14px;
    cursor: pointer;
    padding: 15px;
    border: none;
    background: rgb(206, 95, 55);
  }
  
  .form .message{
    font-size: 12px;
    margin: 15px 0 0;
    color: rgb(226, 201, 201);
  }
  
  .form .message a{
    padding: 5px;
    color: orangered;
    text-decoration: none;
  }
  
  .form .register-form{
    display: none;
  }
  
  .defination{
    text-align: left;
    font-size: 30px;
    color: white;
    padding-left: 60px;
  }
  .col-2 p{
    font-family: 'Permanent Marker', cursive;
    font-size: 20rem;
    color: orangered;
    padding-left: 5px;
    margin-top: 40px;
    text-shadow: 1px 5px 0 #511f00;
}

.bg{
    width: 100%;
    height: 22vh;
    background: url(background.jpg)no-repeat;
    background-size: cover;
}

/*back to top CSS*/

#backtotop{
    z-index: 999;
    display: inline-block;
    position: fixed;
    visibility: hidden;
    bottom: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    text-align: center;
    opacity: .2;
    border-radius: 100px;
    box-shadow:2px 0 4px #000000;
}

#backtotop i{
    display: block;
    width: 100%;
    height: 100%;
    line-height: inherit;
}

#backtotop.visible{
    visibility: visible;
    opacity: .5;
    background: #FFF4C2;
}

#backtotop:hover{
    opacity: 1;
    background: #FFF4c2;
}

.welcome{
     background-color: #65350F;
     height: 110px;
     margin: 0;
     padding: 0;
     font-family: 'Amatic SC', cursive;    
}

.animated-text{    
     color: #FFF4C2;
     position: absolute;
     top: 31%;
     left: 50%;
     text-shadow: 1px 1px 0 #000000;
     border: 2px solid #FFFDDD;
     transform: translate(-50%, -50%);
     background: #80471C;
     padding: 0 50px;
     height: 60px;
     overflow: hidden;
}

.line{
     text-transform: uppercase;
     text-align: center;
     font-size: 40px; 
     line-height: 60px;
}

.line:first-child{
     animation: anim 12s infinite;
}

@keyframes anim{
  0%{
    margin-top: 0;
  }
  16%{
    margin-top: -60px;
  }
  33%{
    margin-top: -120px;
  }
  50%{
    margin-top: -180px;
  }
  66%{
    margin-top: -120px;
  }
  82%{
    margin-top: -60px;
  }
  100%{
    margin-top: 0;
  } 
}
            
.content{
  margin: 0;
  padding: 0;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center; 
  background-color: #99642f;
}

.slider{
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 800px;
  height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #914627;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #ff4c00;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

#radio5:checked ~ .first{
  margin-left: -80%;
}

/*css for automatic navigation*/
.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
  }
  
  .navigation-auto div{
    border: 2px solid #ff4c00;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #6b1717;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #432616;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #5c2a14;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #612a13;
}

#radio5:checked ~ .navigation-auto .auto-btn5{
  background: #5f2b15;
}

.wow{
  background-color: #6d420b;
}

.wow .image{
  position: relative;
  width: 59%;
  margin: 0 auto;
}

.wow .image img{
  width: 800px;
  height: 500px;
  box-shadow: -1px 0 8px #000000;
  margin-top: 50px;
}  

.wow .writing{
  position: absolute;
  top: 13%;
  left: 40%;
  Width: 55%;
  text-align: left; 
}

.wow .writing h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #0d13a8;
}

.wow .writing span{
  font-size: 23px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f50707;
}

.wow .writing p{
  margin-top: 1rem;
  word-spacing: 1px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #7c4700;
}

.background{
  width: 100%;
  height: 50%;  
}

.sexybody{
  background-color: #7c4700;
  align-items: center;
  justify-content: center;
  display: flex;
}

.box1{
  border-radius: 5px;
  background-color: #FFFDDD;
  margin: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 306px;
  height: 370px;
  box-shadow: -1px 0 10px #000000;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.box1 img{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 306px;
  height: 200px;
  display: flex;
}
  
.box1 h2{
  margin: 10px;
  font-size: 30px;
  color: #65350F;
  font-family: 'Solway', serif;
}

.box1 p{
  font-size: 15px;
  margin: 10px;
  color: #65350F;
  font-family: 'Solway', serif;
}

.haha{
    background: #745630;
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
    padding-top: 5rem;
    padding-bottom: 20rem;
    padding-left: 40px;
    padding-right: 40px;
}

.haha .icons6{
    background:#fff;
    border:.1rem solid rgba(0,0,0,.1);
    border: 6px dashed #c38452;
    box-shadow: 20px 20px 50px 10px #fff6ba inset;
    padding: 3rem;
    display: flex;
    align-items: center;
    flex:1 1 25rem;
}

.haha .icons6 img{
    height: 50px;
    width: 50px;
    margin-right: 6rem;
    margin-left: 10px;
}
.haha .icons6 h3{
    color:#333;
    font-size: 5rem;
    left: 30px;
}

.haha .icons6 span{
    color:#555;
    font-size: 4rem;
    padding-bottom: 5px;
}

.container{
  background-color: #7c4700;
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.container .picture{
  position: relative;
  width: 59%;
  margin: 0 auto;
}

.container .picture img{
  width: 800px;
  height: 500px;
  text-align: center;
  align-items: center;
  justify-content: center;
  top: 40%;
  left: 50%;
  border: 1rem solid;
  color: #FFF4C2;
  box-shadow: -1px 0 8px #000000;
  margin-bottom: 50px;
}

.container .heading{
  position: absolute;
  top: 3%;
  left: 40%;
  Width: 55%;
  text-align: left;
  text-shadow: 1px 1px 0 #000000;
}

.container .heading h1{
  font-family: 'Solway', serif;
  color: #FFF4C2;
}

.container .heading p{
  text-indent: 20px;
  word-spacing: 3px;
  font-family: 'Solway', serif;
  color: #FFFDDD;
}


#Category{
  background-color: #fae29c;
  padding: 5px;
  border: 10px solid #5e2c04;
}
.j{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 1px 1px 0 #000000;
    color: #7c4700;
   }
   
   .ehh {
       
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
   
     gap: 1rem;
   }
   
   
   
   .box7{
   
     text-align: center;
     padding: 5rem;
   }
   
   
   
   .box7 img {
   
     height: 160px;
   
     width: 160px;
   
     border-radius: 50%;
     box-shadow: 5px 5px 20px #7c4700;
     margin-bottom: 1rem;
   
     transform: 0.2s ease;
   }
   
   .box7 img:hover{
     transform: scale(1.15)
   }
   
   
   
   .box7 h3 {
   
     font-size: 8rem;
   
     color: #241571;
   
     font-family: 'Solway', serif;
   }
   
   
   .btn7 {
   
     margin-top: 1rem;
   
     display: inline-block;
   
     border: 0.2rem solid #10221b;
   
     color: #10221b;
   
     cursor: pointer;
   
     background: none;
   
     font-size: 6rem;
   
     padding: 1rem 3rem;
     font-family: 'Solway', serif;
     transition: 0.2s all;
   }

.btn7:hover {

    background: #10221b;
  
    color: #fff;
  
    transform: scale(1.10);
  }
  
  
  .btn btn-primary{
   cursor: pointer;
  }
  
  .shop-container{
    background: #865130;
  }
            
  .title{
    font-family: 'Kalam', cursive;
    font-size: 70px;
    text-align: center;
    color: #fff4c2;
    margin-top: 5px;
    text-shadow: 5px 15px 1px #65350f;
  }
  
  .sushi{
    font-family: 'Kalam', cursive;
    font-size: 60px;
    text-align: center;
    color: #fff4c2;
    text-shadow: 5px 15px 1px #65350f;
  }
  
  .menu-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(95rem, 1fr));
    background: #865130;
    position: flex;
  }
  
  .menu-container .menu{
    border-radius: 5px;
    margin: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 230px;
    height: 420px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #fff;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
  }
  
  .menu-container .menu .c img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 230px;
    height: 230px;
    display: flex;
  }
  .menu-container .menu .wuyu{
    padding: 2rem;
    padding-top: 0;
  }
  
  .menu-container .menu .wuyu h3{
      color: #231709;
      font-size: 8rem;
  }
  
  .menu-container .menu .wuyu p{
      color: #65350f;
      font-size: 5rem;
      padding:.5rem 0;
      line-height: 1.5;
  }
  
  .menu-container .add-to-cart{
      display: inline-block;
      margin-top: 5rem;
      border-radius: 2rem;
      background:#333;
      color:#fff;
      padding:.9rem 3.5rem;
      cursor: pointer;
      font-size: 5rem;
      transition: 0.2s all;
  }
  
  .menu-container .add-to-cart:hover{
      background: #65350F;
      transform: scale(1.05);
    }
    .menu-container .menu .wuyu .price{
        color: #5e2c04;
        margin-left: 1rem;
        font-size: 5rem;
    }
    
    #sabi{
      position: fixed; 
      top: 0;
      right: -100%;
      width: 530px;
      height: 100vh;
      padding: 15px;
      padding-top: 5px;
      background-color: #fff4c2;
      box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
    
    #sabi.active{
        right:0;
    }
    
    .show-cart td{
      font-size: 15px;
    }
    
    .show-cart .item-count{
      width: 30px;
      height: 36px;
      padding: 5px;
      -webkit-appearance: none;
      -moz-appearance: textfield;
    }
    
    .show-cart .minus-item{
      font-size: 18px;
      margin: 1.5rem auto 0 auto;
      padding:.9rem 2rem;
      margin-top: 2rem;
      color: #fff4c2;
      background-color: #652a0e;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      margin-left:15px;
    }
    
    .show-cart .plus-item{
      font-size: 18px;
      margin: 1.5rem auto 0 auto;
      padding:.9rem 2rem;
      margin-top: 2rem;
      color: #fff4c2;
      background-color: #652a0e;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    
    .show-cart .delete-item{
      border-radius: 3px;
      font-size: 18px;
      margin: 1.5rem auto 0 auto;
      padding:.9rem 2rem;
      color: #fff4c2;
      background-color: #652a0e;
      margin-left:15px;
      margin-right:10px;
    }
    
    .modal-title{
      color: #0d13a8;
      text-align: center;
      font-size: 9rem;
      font-weight: 600;
    }
    
    
    .kl{
      display: flex;
      justify-content: flex-end;
      margin-top: 2rem;
      border-top: 1px solid #9c6137;
      font-size: 16px;
    }
    
    .btn-bty{
        display: inline-block;
        margin: 1.5rem auto 0 auto; 
        padding:.9rem 3.5rem;
        margin-top: 2rem;
        border-radius: 5rem;
        background:#333;
        color:#fff;
        cursor: pointer;
        font-size: 5rem;
        margin-left: 37.5%;
        
    }
    
    .btn-bty:hover{
        background-color: #65350F;
    }
    
    #cart-close{
      position: absolute;
      color: #black;
      cursor: pointer;
      top: 5rem; 
      right: 5rem;
      font-size: 25px;
    }
    
    #cart-close:hover{
      color: #65350F;
    }
    
    .roo{
      background-color: #865130;
      border-radius: 3px;
    }
    .rokkan{
        text-align: center;
        font-size: 18px;
        padding: 10px;
        padding-top: 4px;
      }
      
      .roki .btn{
        border-radius: 3px;
        background: #fff4dc;
        margin: 1.5rem auto 0 auto;
        padding:.9rem 5rem;
        margin-top: 2rem;
        color: #65350F;
      }
      
      .bagos{
        background-color: #9c6137;
      }
      
      .jiji{
        text-align: center;
        font-size: 50px;
        color: #d8b863;
      }
        
      .jiji span{
        text-align: center;
        font-size: 70px;
        color: #fae29c;
      }
      
      .box-containeraa{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 20px;
        padding: 10px;
        padding-top: 0;
      }
        
      .box-containeraa .boxa{  
        background-color: #fge076;
        flex:1 1 30rem;
        box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.8);
        box-shadow: 0 0 20px #fff4cd;
        border-radius: .5rem;
        padding: 5rem 5rem;
        position: relative;
        border: .1rem solid rgba(0,0,0,.3);
        margin: 15px;
      }
      
      .box-containeraa .boxa .fa-quote-right{
        position: absolute;
        bottom: 5rem; 
        right: 5rem;
        font-size: 15rem;
        color:#e7c27d;
      }
      .box-containeraa .boxa .star i{
        color: #f9e076;
        font-size: 7rem;
      }
      
      .box-containeraa .boxa p{
        color:#f3eaaf;
        font-size: 6rem;
        line-height: 1.5;
        padding-top: 2rem;
      }
      
      .box-containeraa .boxa .user{
        display: flex;
        align-items: center;
        padding-top: 2rem;
      }
      
      .box-containeraa .boxa .user img{
        height: 100px;
        width: 100px;
        margin-right: 2rem;
      }
      
      .box-containeraa .boxa .user h3{
          font-size: 6rem;
          color:#e3c565; 
      }
      
      .box-containeraa .boxa .user span{
          font-size: 5rem;
          color:#f3eaaf;
      }
      
      .footer{
          background: #FFFDDD;
      }
      
      .footer .box-container{
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
          gap:1.5rem;
      }
      
      .footer .box-container .box h3{
          font-size: 8rem;
          color: #511f00;
          padding: 5px;
          margin-top: 15px;
          margin-left: 3rem;
          font-weight: 600;
      }
      
      .footer .box-container .box h3 i{
          color: #7c4700;
      }
      
      .footer .box-container .box .links{
          display: block;
          font-size: 5rem;
          color: #964b00;
          padding:1rem 4rem;
      }
      
      .footer .box-container .box .links i{
          color: #7c4700;
          padding-right: .5rem;
      }
      
      .footer .box-container .box .links:hover i{
          padding-right: 2rem;
          
      }
      
      .footer .box-container .box p{
          line-height: 1.8;
          font-size: 5rem;
          color: #964b00;
          padding:1rem 4rem;
      }
      
      .footer .box-container .box .share a{
          height:9rem;
          width:9rem;
          line-height:9rem;
          border-radius: .8rem;
          margin-left: 5rem;
          font-size: 7rem;
          color: #black;
          background: #eee;
          text-align: center;
      }
      
      .footer .box-container .box .share a:hover{
          background: #7c4700;
          color: #fff;
      }
      
      .footer .box-container .box .email{
          width: 90%;
          margin:.7rem 4rem;
          padding:1rem 4rem;
          border-radius: .5rem;
          background: #eee;
          font-size: 5rem;
          color: #black;
          text-transform: none; 
      }
      
      .footer .box-container .box .payment-img{
          margin-top: 4rem;
          height: 7rem;
          display: block;
          padding: 0 4rem;
      }
      
      .btn1{
          display: inline-block;
          margin-top: 3rem;
          margin-left: 4rem;
          border-radius: 2rem;
          background:#333;
          color:#fff;
          padding:.9rem 3.5rem;
          cursor: pointer;
          font-size: 5rem;
      }
      
      .btn1:hover{
          background: #65350F;
      }
      
      .footer .credit{
          text-align: center;
          margin-top: 3rem;
          padding: 2rem 4rem;
          padding-top: 2.5rem;
          font-size: 5rem;
          color: #black;
          border-top: .2rem solid rgba(0,0,0,.1);
      }
      .footer .credit span{
        color: #cd853f;
    }
    
    .order{
        background: #432616;
    }
    
    .order-food{
      font-family: 'Poppins', sans-serif;
      
      margin:0; padding:0;
      
      box-sizing: border-box;
      
      outline: none; 
      border:none;
      
      text-transform: capitalize;
      
      transition: all .2s linear;
    
    }
    
    
    
    .order-food{
      
      display: flex;
      
      justify-content: center;
     
      align-items: center;
      
      padding:30px;
      
      min-height: 100vh;
     
      background: linear-gradient(90deg, #432616 60%, #80471c 40.1%);
    
    }
    
    
    
    .order-food form{
     
      margin-top: 20px; 
      padding: 20px;
      padding-top: 10px;
     
      width:700px;
      
      background: #fff;
      
      box-shadow: 0 5px 10px rgba(0,0,0,.1);
    
    }
    
    
    
    .order-food form .row0{
     
      display: flex;
      
      flex-wrap: wrap;
      
      gap:15px;
    
    }
    
    
    
    .order-food form .row0 .col0{
    
      flex:1 1 240px;
    
    }
    
    
    
    .order-food .row0 .col0 .title0{
    
      font-size: 20px;
      
      color:#333;
    
      padding-bottom: 5px;
    
      text-transform: uppercase;
    
    }
    
    
    
    .order-foodr form .row0 .col0 .inputBox0{
    
      margin:15px 0;
    
    }
    
    
    
    .order-food form .row0 .col0 .inputBox0 span{
    
      margin-top: 5px;
      margin-bottom: 5px;
      
      display: block;
    
    }
    
    .order-food form .inputBox0 p{
    
      margin-top: 6px;
      margin-bottom: 5px;
      
      display: block;
    
    }
    
    .order-food form .inputBox0 i{
      color: #632a0d;
      padding-left: 5px;
      font-size: 6rem;
      margin-top: 5px;
    }
    
    
    
    
    .order-food form .row0 .col0 .inputBox0 input{
    
      width: 100%;
     
      border:1px solid #ccc;
     
      padding:10px 15px;
      
      font-size: 15px;
      
      text-transform: none;
    
    }
    
    
    
    .order-food form .row0 .col0 .inputBox0 input:focus{
      
      border:1px solid #000;
    
    }
    
    
    
    .order-food form .row0 .col0 .flex{
      
      display: flex;
      
      gap:15px;
    
    }
    
    
    
    .order-food form .row0 .col0 .flex .inputBox0{
      
      margin-top: 5px;
    
    }
    
    
    
    .order-food form .row0 .col0 .inputBox0 img{
      
      height: 34px;
      
      margin-top: 10px;
      
      filter: drop-shadow(0 0 1px #000);
    }



    .order-food form .submit-btn{
      
      width: 100%;
      
      padding:12px;
      
      font-size: 17px;
     
      background: #65350f;
      
      color:#fff;
      
      margin-top: 14px;
     
      cursor: pointer;
      pointer-events: auto;
    }
    
    
    
    .order-food form .submit-btn:hover{
      
      background: #cc9966;
    }
    
    .custom-select {
      position: relative;
      font-family: Arial;
    }
    
    .custom-select select {
      display: none; 
    }
    
    .select-selected {
      background-color: #7a481c;
    }
    
    .select-selected:after {
      position: absolute;
      content: "";
      top: 17px;
      right: 10px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-color: #fff transparent transparent transparent;
    }
    
    .select-selected.select-arrow-active:after {
      border-color: transparent transparent #fff transparent;
      top: 7px;
    }
    
    .select-items div,.select-selected {
      color: #ffffff;
      padding: 10px 10px;
      border: 1px solid transparent;
      border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
      cursor: pointer;
      user-select: none;
    }
    
    .select-items {
      position: absolute;
      background-color: #7e481c;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 99;
    }
    
    .select-hide {
      display: none;
    }
    
    .select-items div:hover, .same-as-selected {
      background-color: rgba(0, 0, 0, 0.1);
    }
    
    .toggle-button-cover{
        display: table-cell;
        position: relative;
        width: 20px;
        height: 40px;
        box-sizing: border-box;
        left: -150px;
        margin-top: 5px;
    }
    
    .button-cover{
        background-color: #fff;
        box-shadow: 0 10px 20px -8px #c5d6d6;
        border-radius: 4px;
    }
    
    .button-cover, .knobs, .layer
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    
    .button
    {
        position: relative;
        top: 50%;
        width: 74px;
        height: 36px;
        margin: -20px auto 0 auto;
        overflow: hidden;
    }
    
    .button.r, .button.r .layer
    {
        border-radius: 100px;
    }
    
    .checkbox
    {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        opacity: 0;
        cursor: pointer;
        z-index: 3;
    }
    
    .knobs
    {
        z-index: 2;
    }
    
    .layer
    {
        width: 100%;
        background-color: #bbe8fa;
        transition: 0.3s ease all;
        z-index: 1;
    }
    
    /* Button 1 */
    #button-1 .knobs:before
    {
        content: 'YES';
        position: absolute;
        top: 4px;
        left: 5px;
        width: 28px;
        height: 28px;
        color: #fff;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        line-height: 1;
        padding: 9px 3.5px;
        background-color: #03A9F4;
        border-radius: 50%;
        transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
    }
    
    #button-1 .checkbox:checked + .knobs:before
    {
        content: 'NO';
        left: 42px;
        background-color: #f44336;
    }
    
    #button-1 .checkbox:checked ~ .layer
    {
        background-color: #f5c9c9;
    }
    #button-1 .knobs, #button-1 .knobs:before, #button-1 .layer
{
    transition: 0.3s ease all;
}
 
/* media queries  */

@media (max-width:1250px){
    .wow .image{
        position: relative;
        width: 67%;
        margin: 0 auto;
    }
    
    .container .picture{
        position: relative;
        width: 67%;
        margin: 0 auto;
    }

    .animated-text{ 
        top: 33%;
    }

    
}

@media (max-width:1200px){
    .wow .image{
        position: relative;
        width: 70%;
        margin: 0 auto;
    }
   
    .container .picture{
        position: relative;
        width: 70%;
        margin: 0 auto;
    }


    .animated-text{ 
        top: 33%;
    }
}

@media (max-width:1150px){
    .wow .image{
        position: relative;
        width: 73%;
        margin: 0 auto;
    }

    .container .picture{
        position: relative;
        width: 73%;
        margin: 0 auto;
    }


    .animated-text{ 
        top: 33%;
    }
}

@media (max-width:1100px){
    .wow .image{
        position: relative;
        width: 76%;
        margin: 0 auto;
    }

    .container .picture{
        position: relative;
        width: 76%;
        margin: 0 auto;
    }


    .animated-text{ 
        top: 33%;
    }
}

@media (max-width:1050px){
    .wow .image{
        position: relative;
        width: 77%;
        margin: 0 auto;
    }
  
    .container .picture{
        position: relative;
        width: 77%;
        margin: 0 auto;
    }


    .animated-text{ 
        top: 33%;
    }
}

@media (max-width:1020px){
    .wow .image{
        position: relative;
        width: 80%;
        margin: 0 auto;
    }

    .wow .image img{
        margin-top: 50px;
    }  
    
    .container .picture{
        position: relative;
        width: 80%;
        margin: 0 auto;
    }
   
    
    .animated-text{ 
        top: 33%;
    }
}
    
@media (max-width:991px){
    
    html{
        font-size: 8px;
        display: block;
    }
  
    header .icons i{
        font-size: 3rem;
    }

}

@media (max-width:768px){

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background: #FFF4C2;
        border-top: .1rem solid rgba(0,0,0,.1);
        border-bottom: .2rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        margin:1.5rem;
        padding:1.5rem;
        background:#fff;
        border:.1rem solid rgba(0,0,0,.1);
        display: block;
    }
   

    header .icons i{
        font-size: 2rem;
    }

    .heading{
        font-size: 3rem;
    }

    #sabi{
        width: 300px;
    }

    .show-cart td{
        font-size: 10px;
    }
 
    .modal-title{
        font-size: 20px;
    }
  
    #cart-close{
       top: 5px;
       right: 5px;
       font-size: 20px;
    }
    
}  @media (max-width:450px){
    
    html{
        font-size: 50%;
    }


    .heading{
        font-size: 3rem;
    }

}    